# 

# simulation output files
*.fsdb
*.vpd
*.vcd
*.log
*.key
*.history
*.rc
*.conf
*.syn
*.svf
*.pvl
*.mr

# synthesis and APR output files
*.ddc
*.sdf
*.sdc
*.sdf.X
*.gds
*.lef
*.def
*.lib
*.spef
*.pwl
*.capTbl
*.map

# verilog compilation intermediate files
simv*
csrc/
xcelium.d/
INCA_libs/
alib-52/
xrun.history
*.so

# Design Compiler、PrimeTime、Innovus output files
02_SYN/Netlist/*
02_SYN/Report/*
timingReports/*
extLogDir/
StreamOut/
DBS/
*.rpt
*.log

# verdi / nWave output files
nWaveLog/
verdiLog/
*.vcs.*

# make clean target
*.o
*.bin
*.chk
*.globals
checkDesign/

# system files
.DS_Store
Thumbs.db

# make sure to keep the following files
!*.v
!*.sv
!*.f
!*.tcl
!makefile
